body {
    margin-top: 80px !important;
    margin-left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.loading-element {
    height: 100% !important;
}

.container-element {
    height: calc(100vh - 80px) !important;
}

.map-element {
    height: 100% !important;
}